<%= turbo_frame_tag :user_modal do %>
  <div class="fixed z-10 inset-0 overflow-y-auto mt-12" aria-labelledby="modal-title"
        role="dialog" aria-modal="true"
        data-modal-user-target='user_modal_form'
        data-action='click->modal-user#closeFromBackground keyup@window->modal-user#closeWithKeyboard'>
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-700 bg-opacity-75 transition-opacity" aria-hidden="true"
           data-modal-user-target='container_form'
      ></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-gray-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-full sm:p-6">
        <%= render 'form', resource: resource %>
      </div>
    </div>
  </div>
<% end %>
