<div class="flex justify-center -ml-12 -mt-4 user_search_history" data-service-target='userHistory'>
  <% histories.each do |history| %>
    <%= link_to history, root_path(query: history),
        class: 'text-xs px-1 text-gray-400 hover:text-yellow-500 z-20',
        data: { turbo_frame: 'posts' } %>
  <% end %>
</div>
