<div class="flex justify-center -ml-12 -mt-4 user_search_history">
  <% histories.each do |history| %>
    <%= link_to history, root_path(query: history), class: 'text-xs mx-1 text-gray-400 hover:text-yellow-500 z-20' %>
  <% end %>
</div>
