<span class="flex justify-center items-center frame-loading-show min-h-screen">
  <!-- Loading... -->
  <div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
</span>
