<% data = comments_user_data(post) %>

<span class='flex w-full items-center'>
  <%= pluralize(data[:count], "Comment").split().reverse.join(': ') %>
  <!-- Comment<%= data[:count] > 1 ? 's: ' : ': ' %> <%= data[:count] %> -->
  <% if data[:count] > 0 %>
    by&nbsp;
    <span class='flex w-4/6 ml-2 gap-1 truncate'>
      <%== data[:users_avatar] %>
    </span>
  <% end %>
</span>
