<div class="search-box ml-14 flex items-center justify-evenly">
  <%= form_with url: root_path, method: :get,
               class: 'flex items-center',
               autocomplete: "off",
               data: { turbo_frame: 'posts',
                       turbo_action: "advance",
                       controller: 'search',
                       action: 'keyup->search#search_with_debounce' } do %>
    <%= search_field_tag :query, params[:query],
          placeholder: "Search...",
          data: { posts_count: posts.count,
                  search_target: 'searchInput' },
          autocomplete: 'off',
          class: "search-input bg-gray-700 text-gray-300 border-2 border-gray-500 focus:ring-transparent focus:border-2 focus:border-yellow-500 focus:border-opacity-75" %>
    <div class="btn bg-gray-800 bg-no-repeat flex border-2 border-gray-500 hover:border-yellow-500 bg-center items-center justify-center search-button"
         data-controller='animate-search'
         data-animate-search-target='btnShowHide'
         data-action='click->animate-search#showHide'>
      <%= submit_tag 'Search',
          class: 'hidden submit-btn',
          data: { controller: 'animate-search',
                  animate_search_target: 'submitBtn' } %>
    </div>
  <% end %>
  <span id='reset-link'>
    <%= render 'posts/reset_link', posts: posts %>
  </span>
</div>
