<%= turbo_frame_tag :modal do %>
  <div class="fixed flex flex-col items-center justify-center z-10 inset-0 overflow-y-auto w-full h-full bg-gray-900 bg-opacity-80"
     data-modal-target='container'
     data-action='click->modal#closeBackground keyup@window->modal#closeWithKeyboard'>
    <div class="bg-gray-800 rounded-lg max-w-3xl p-4">
      <div class="flex flex-col items-center overflow-hidden p-4">
        <div>
          <%= render "form", post: @post %>
        </div>
      </div>
    </div>
  </div>
<% end %>
