/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --bg-under-tooltip:rgba(0, 0, 0, .7);
  // yellow variable
  // gray variable
  --bg-gray-100:rgba(243, 244, 246, 1);
  --bg-gray-200:rgba(229, 231, 235, 1);
  --bg-gray-300:rgba(209, 213, 219, 1);
  --bg-gray-500:rgba(107, 114, 128, 1);
  --bg-gray-600:rgba(75, 85, 99, 1);
  --bg-gray-700:rgba(55, 65, 81, 1);
  --bg-gray-800:rgba(31, 41, 55, 1);
  --bg-gray-900:rgba(31, 41, 55, 1);
}

// Tooltip
.tooltip-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 10vh;
  // min-height: 100vh;
  width: 100%;
  background-color: var(--bg-gray-800);
  // background-color: var(--bg-under-tooltip);
  display: flex;
  align-items: center;
  justify-content: center;
}

#post-tooltip-item {
  width: 30rem;
  top: 0;
}


 .tooltip .tooltip-item {
   visibility: hidden;
   opacity: 0;
   transition: all 1.2s 0.6s ease-in-out;
 }

 .tooltip.active .tooltip-item {
 // .tooltip:hover .tooltip-item {
   visibility: visible;
   opacity: 1;
 }

.middle-width {
  width: 40%;
}

// main_color  color: rgb(251, 191, 36);
// [type='search']
[type='text'], [type='email'],
[type='url'], [type='password'],
[type='number'], [type='date'],
[type='datetime-local'],
[type='month'], [type='tel'],
[type='time'], [type='week'],
[multiple],
textarea, select {
  // background-color: rgb(251, 191, 36);
  background-color: #364151 !important; // gray
}

[type='checkbox']:checked,
[type='radio']:checked {
  background-color: #364151 !important;
}

.toggle-checkbox:checked {
  right: 0;
  // border-color: rgb(251, 191, 36) !important;
}
.toggle-checkbox:checked + .toggle-label {
  // background-color: rgb(251, 191, 36) !important;
}

// turbo-frame[busy] .frame-loading-hide, turbo-frame .frame-loading-show {
//     display: none;
// }
// turbo-frame[busy] .frame-loading-show {
//     display: inline-block;
// }
turbo-frame {
    display: block;
}
turbo-frame[busy] {
    opacity: .7;
}
turbo-frame[busy] .frame-loading-hide, turbo-frame .frame-loading-show {
    display: none;
}
turbo-frame[busy] .frame-loading-show {
    display: inline-block;
}

// Loader for turbo-frame
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// checkbox
input:checked + label {
	background-color: #F59E0A !important;
  color: #94420F !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	// box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
