/* custom file input */

.file_input_label {
  align-items: center;
  background-color: #364151;
  color: #9CA3AF; //gray-400
  border-color: #9CA3AF; //gray-400
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 90px;
  letter-spacing: 0.4px;
  padding: 8px 8px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: linear;
  width: 128px !important;
}

.file_input_label:hover {
  background-color: #F2AF02;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #A74B13;
}

.span-select-file {
  margin-top: 0.5rem;
  font-size: .8rem;
  line-height: 1rem;
}

.avatar-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.avatar-text {
  color: #fff;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}
